@use "globals";
@use "menu";

html,
body {
  @include globals.reset;
  @include globals.maxsize;

  font-family: globals.$font-stack;
  overflow: hidden;
}

svg {
  font-weight: normal;
}

#chart {
  background-color: #fff;
  height: 98vh;
  left: 1vh;
  position: fixed;
  top: 1vh;
  width: calc(100vw - 2vh);
}
