@use "globals";
@use "menu";

html,
body {
  @include globals.reset;
  @include globals.maxsize;

  font-family: globals.$font-stack;
  overflow: hidden;
}

input,
label {
  cursor: pointer;
}

svg {
  font-weight: normal;
}

.hidden {
  @include globals.hidden;

  display: none !important;
}

#chart {
  background-color: #fff;
  height: calc(100% - 50px);
  left: 0;
  position: fixed;
  top: 50px;
  width: 100%;
}

#tip {
  @include globals.fx;
  @include globals.fx-center;

  background: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity 500ms ease-in-out;
  width: 100%;
  z-index: 1;
}

#tip > div {
  background-color: #aaa;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 40%;
  max-width: 33%;
  padding: 10px;
  z-index: 1000000;
}

#title {
  @include globals.fx($dir: row);
  @include globals.fx-right;

  background-color: #333;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
