@use "globals";
@use "menu";

html,
body {
  @include globals.reset;
  @include globals.maxsize;

  background-color: #333;
  font-family: globals.$font-stack;
  overflow: hidden;
}

svg {
  font-weight: normal;
}

#chart {
  background-color: #fff;
  height: calc(100% - 50px);
  left: 0;
  position: fixed;
  top: 50px;
  width: 100%;
}
