.shadow {
  fill: #999 !important;
  fill-opacity: 1 !important;
  transition: height 500ms ease-out, width 500ms ease-out;
}

.link.fade > path {
  stroke: #999 !important;
  stroke-opacity: 0.1 !important;
}

.link {
  stroke-opacity: 0.3;
  transition: stroke-opacity 500ms;
}

.link:hover {
  cursor: pointer;
  stroke-opacity: 0.7;
}

.link.selected {
  stroke-opacity: 1;
}

rect.node {
  transition: fill-opacity 500ms;
}

.node {
  transition: opacity 500ms;
}

.node:hover {
  cursor: pointer;
}

rect {
  shape-rendering: crispEdges;
}

text {
  user-select: none;
}
